@import "../../../styles.scss";


div {
  box-sizing: content-box;
  padding: .35rem .75rem;
  display: flex;
  gap: .25rem;
  overflow: hidden;
  border-radius: 6px;
}
p {
  font-size: .825rem;
  font-weight: 500;
}

time {
  font-size: 8px;
  color: $orange-700;
  font-weight: 600;
  flex-shrink: 0;
  align-self: flex-end;
  margin-bottom: 1px;
}
