@import "../../../styles.scss";


a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.125rem;
  color: $gray-800;
}

header{
  background: white;
  border-bottom: 1.5px solid $orange-400;
  width: 100vw;
  height: 3.5rem;
  position: fixed;
  top: 0;
}

ul {
  display: flex;
  gap: 1.2rem;
}

li {
  list-style: none;
  padding: 1rem .5rem;
  cursor: pointer;

  &:hover {
    background: $pink-100;
  }
}

.active-route{
  background: $pink-100;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}

picture {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 2.5rem;
  overflow: hidden;
  object-fit: fill;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  img {
    max-width: 100%;
    
  }
}

modal-profile {
  position: absolute;
  right: 0;
  top: 3.5rem;
}
