<main class="container">
  <aside>
    <person-message name="John Doe" user_tag="@johndoe" class="aside-item"/>
  </aside>
  <section>
    <header>
      <person-message name="John Doe"/>
    </header>
    <div class="container-messages">
      <ng-container *ngFor="let data of messages">
        <label-data-message  date="{{data.date}}" [style]="{alignSelf: 'center'}"/>
        <message *ngFor="let message of data.messages" 
          [message]="message.message" [date]="message.date" 
          [isCurrentUser]="message.user_tag === currentUser" 
          [style.alignSelf]="message.user_tag === currentUser ? 'flex-end' :  'flex-start'"
        />
      </ng-container>
    </div>
    <footer>
      <textarea type="text" placeholder="Escreva sua mensagem" [(ngModel)]="inputMessage"></textarea>
      <button (click)="handleSubmit()">
        <img src="../../../assets/svg/send.svg">
      </button>
    </footer>
  </section>
</main>
