<main class="container">
  <section>
    <ul>
      <photo (click)="handleOpenModal()" />
      <photo (click)="handleOpenModal()" />
      <photo (click)="handleOpenModal()" />
      <photo (click)="handleOpenModal()" />
      <photo (click)="handleOpenModal()" />
      <photo (click)="handleOpenModal()" />
    </ul>
  </section>
</main>
<div class="modal-post" *ngIf="modalOpened" (click)="handleCloseModal($event)" #modal>
  <modal-post>
    <header (click)="modalOpened = false">
      <img src="" alt="X" >
    </header>
  </modal-post>
</div>
