
$gray-100: #FBF4FE;
$gray-200: #F4E7FB;
$gray-400: #D0D0D0;
$gray-700: #3B3B3B;
$gray-800: #2C2C2C;

$pink-100: #FBF4FE;
$pink-200: #F4E7FB;

$orange-300: #F3DCDC;
$orange-400: #F5BCBA;
$orange-700: #FF7575;

$blue-200: #C3C7F3;

$green-500: #87AA91;

$purple-500: #C8A8E9;
$purple-700: #635373;
$purple-800: #40354A;



$font-text: 'Montserrat', Helvetica, Arial, sans-serif;
$font-title: 'Montserrat Alternates', 'Montserrat', Helvetica, Arial, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media screen and (max-width: 400px) {
    font-size: 14px;
  }
}

body {
  background: $pink-100;
  overflow-x: hidden;

}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $purple-500;
}

*::-webkit-scrollbar-thumb {
  background-color: $orange-400;
  border-radius: 20px;
  border: 1px solid $purple-500;
}


h1, h2, h3, h4, h5, h6, label, li {
  font-family: $font-title;
}

p, span, strong, input, a, time {
  font-family: $font-text;
}

ul li {
  list-style: none;
  margin: 0;
}

.box {
  border-radius: 16px;
  background: white;
  box-shadow:  3px 3px 0px $orange-300,
              -3px -3px 0px $pink-200;
  padding: 4rem 3rem;
}

.page-title {
  font-size: 3rem;
  font-family: $font-title;
  font-weight: bold;
  color: $purple-800;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 100vw;
  @media screen and (min-width: 768px) {
    max-width: 744px;
  }
  @media screen and (min-width: 992px) {
    max-width: 744px;
    padding: 0;
  }
  @media screen and (min-width: 1280px) {
    max-width: 928px;
    padding: 0;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1120px;
    padding: 0;
  }
}

.form-control {
  label {
    display: inline-block;
    font-family: $font-title;
    font-weight: 300;
    margin-bottom: 1px;
    font-size: 18px;
    span {
      font-family: $font-text;
    }
  }
}

.input {
  background: #FEFCFF;
  display: flex;
  align-items: center;
  padding: .4rem .7rem;
  border-bottom: 1px solid $purple-800;
  gap: .5rem;

  input {
    outline: none;
    border: none;
    flex-grow: 1;
    background-color: transparent;
    font-size: 14px;
    &::placeholder {
      font-weight: lighter;
      color: $blue-200;
    }
  }
}
.btn {
  background: $purple-800;
  color: $pink-100;
  border: none;
  border-radius: .2rem;
  padding: .5rem 1.5rem;
  font-family: $font-title;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s ;
  &:hover {
    background-color: $purple-700;
  }
}

.btn-outline {
  background: white;
  color: $purple-800;
  border: 1px solid $purple-800;
  border-radius: .2rem;
  padding: .5rem 1.5rem;
  font-family: $font-title;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s ;
  &:hover {
    background-color: $pink-200;
  }
}

html, body { height: 100%; }
