@import "../../../styles.scss";

.content{
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem .75rem;
}

picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  width: 2.2rem;
}

h3{
  line-height: 1rem;
}

span {
  font-size: 13px;
}

.aside-item {
  cursor: pointer;
  &:hover{
    background: $pink-200;
  }
}