

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  button {
    align-self: self-start;
  }
}
h1 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

a {
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.icon {
  height: 1rem;
  width: 1rem;
}